body {
  max-width: 1000px;
  margin: auto;
  background-image: url(../img/fresh_snow.png);
}

a:hover {
  color: #E03F00;
}

.site-head {
  padding: 0;
  height: 100px;
  background-color: white;
  color: inherit;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.ad {
  border: 1px solid #bbb;
}

.side-ad {
  margin-top: 10px;
  width: 300px;
  height: 600px;
  text-align: center;
}

.top-ad {
  width: 730px;
  height: 90px;
}

.content {
  background-color: #F2F2F2;
  border: 1px solid #ddd;
  padding: 0;
}

.box-shadow {
  box-shadow: 2px 2px 14px 0px #ccc;
}

.post {
  margin: 2rem auto;
  width: 90%;
}

.post-section {
  background-color: white;
  margin: 0;
  border-right: 1px solid #ddd;
}

h2.post-title {
  font-size: 26px;
}

.post-subtitle {
  font-size: 14px;
  margin: 5px 0 10px;
}

.post-image p {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.post-image img {
  max-width: 100%;
}

.post-excerpt p:first-child {
  margin-top: 0;
}

.post-excerpt {
  font-size: 16px;
}

.post-tags {
  margin-left: 15px;
}
