body {
  max-width: 1000px;
  margin: auto;
  background-image: url(../img/exclusive_paper.png);
}

a:hover {
  color: #E03F00;
}

.blog-logo {
  margin-bottom: 0;
  margin-top: 10px;
}

.blog-description {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}

.site-head {
  padding: 0;
  padding-top: 10px;
  height: 100px;
  background-color: white;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  color: #50585D;
}

.site-head a {
  text-decoration: none;
}

.ad {
}

.side-ad {
  margin-top: 10px;
  width: 300px;
  height: 600px;
  text-align: center;
}

.top-ad {
  margin-left: 0 !important;
  margin-right: 10px !important;
  width: 730px;
  height: 90px;
}

.content {
  background-color: white;
  border: 1px solid #ddd;
  padding: 0;
}

.box-shadow {
  box-shadow: 2px 2px 14px 0px #ccc;
}

.post {
  margin: 2rem auto;
  width: 90%;
}

.post-section {
  background-color: white;
  margin: 0;
  border-right: 1px solid #ddd;
}

.border-right {
  border-right: 1px solid #ddd;
}

h2.post-title {
  font-size: 26px;
}

.post-subtitle {
  font-size: 14px;
  margin: 5px 0 10px;
}

.post-image p {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.post-image img {
  max-width: 100%;
}

.post-excerpt p:first-child {
  margin-top: 0;
}

.post-excerpt {
  font-size: 16px;
}

.post-tags {
  margin-left: 15px;
}

.vertical-align {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}

.back-to-top a {
  float: right;
  color: #C6C5C5;
  text-decoration: none;
  transition: color ease 0.3s;
  font-size: 14px;
  margin-right: 10px;
}

.back-to-top a:hover {
  color: #E03F00;
}

.post-footer .share a {
    font-size: 4.8rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
    text-decoration: none;
}

.post-footer .share a:hover {
    color: #50585D;
}

.post-back-to-top {
  position: relative;
  top: -30px;
}

.btn-facebook {
  background-color: hsl(221, 37%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5a76b3", endColorstr="#3b5181");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5a76b3), to(#3b5181));
  background-image: -moz-linear-gradient(top, #5a76b3, #3b5181);
  background-image: -ms-linear-gradient(top, #5a76b3, #3b5181);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a76b3), color-stop(100%, #3b5181));
  background-image: -webkit-linear-gradient(top, #5a76b3, #3b5181);
  background-image: -o-linear-gradient(top, #5a76b3, #3b5181);
  background-image: linear-gradient(#5a76b3, #3b5181);
  border-color: #3b5181 #3b5181 hsl(221, 37%, 33%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

.share-row {
  margin-bottom: 32px;
}


h4.blog-logo a {
  color: #E03F00;
}

h4.blog-logo a:hover {
  color: #FF5D00;
  transition: color ease 0.3s;
}

.read-more-link {
  float: right;
  font-size: 14px;
}

a {
  color: #E03F00;
}

.top-share-btn {
  margin-left: 16px;
}

.post-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-article {
  padding: 10px 30px 10px;
}

.other-posts {
  padding: 30px 30px 10px;
}

.other-post-title {
  margin-top: -10px;
}

.other-post {
  border-bottom: 1px solid #ddd;
}

.other-post:last-child {
  border-bottom: none;
};