body {
  max-width: 1000px;
  margin: auto;
  background-image: url(../img/exclusive_paper.png);
}

a:hover {
  color: #E03F00;
}

.blog-logo {
  margin-bottom: 0;
  margin-top: 10px;
}

.blog-description {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}

.site-head {
  padding: 0;
  padding-top: 10px;
  height: 100px;
  background-color: white;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  color: #50585D;
}

.site-head a {
  text-decoration: none;
}

.ad {
}

.side-ad {
  margin-top: 10px;
  width: 300px;
  height: 600px;
  text-align: center;
}

.top-ad {
  margin-left: 0 !important;
  margin-right: 10px !important;
  width: 730px;
  height: 90px;
}

.content {
  background-color: #F2F2F2;
  border: 1px solid #ddd;
  padding: 0;
}

.box-shadow {
  box-shadow: 2px 2px 14px 0px #ccc;
}

.post {
  margin: 2rem auto;
  width: 90%;
}

.post-section {
  background-color: white;
  margin: 0;
  border-right: 1px solid #ddd;
}

h2.post-title {
  font-size: 26px;
}

.post-subtitle {
  font-size: 14px;
  margin: 5px 0 10px;
}

.post-image p {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.post-image img {
  max-width: 100%;
}

.post-excerpt p:first-child {
  margin-top: 0;
}

.post-excerpt {
  font-size: 16px;
}

.post-tags {
  margin-left: 15px;
}

.vertical-align {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}

.back-to-top a {
  float: right;
  color: #C6C5C5;
  text-decoration: none;
  transition: color ease 0.3s;
  font-size: 14px;
  margin-right: 10px;
}

.back-to-top a:hover {
  color: #E03F00;
}

.post-footer .share a {
    font-size: 4.8rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
    text-decoration: none;
}

.post-footer .share a:hover {
    color: #50585D;
}

.post-back-to-top {
  position: relative;
  top: -30px;
}

.share-on-facebook-btn {
  box-shadow: 3px 3px 6px 0px #aaa
}

.share-on-facebook-btn:hover {
  transition: opacity ease 0.3s;
  opacity: 0.8;
}